ul li{
    list-style: none;
}
.col-md-2 .border-bottom{
    margin-left: 10px;
    height: 60px;
}
.collapse > a{
    text-decoration: none;
}

.test1:hover{
    background-color: rgb(186, 182, 182);
}